  <!-- Begin slider -->
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        <li class="lh0 homepage" style="background-image: url({{ 'home_banner-1.jpg' | asset_url }}); background-position: top center;">
          <div class="color-panel"></div>
          <div class="texture-border border-white">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="caption-wrapper">
            <div class="caption">
              <h1>Healthy Gut...Happy Pet</h1>
              <h2>Fresh, Smart Frozen Snacks for Dogs</h2>
              <p>Human Grade<i class="paw"></i>Clean labels<i class="paw"></i>Unprocessed<i class="paw"></i>Low Calorie/Low Fat</p>
              <a href="/pages/gut-health" class="btn btn-orange">Gut Health</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="flex-controls clearfix hidden"></div>
    </div>
  </div>
  <!-- End slider -->
  
  <!-- Begin .orange-background -->
  <div class="orange-background orange-texture texture-bottom texture-top bold-content"> 
    <div class="paw-prints"></div>
    <div class="wrapper">
      <div class="color-splotch"></div>
      <div class="container">

          <div class="span8">
            <h2>Smart Daily Snacking</h2>
            <p>Smart snacking for our pets means exactly what it does for us humans: It’s a lifestyle. It’s about enjoying fresh, wholesome unprocessed foods that bring nutrients to the whole body, along with a delicious variety of flavors to the daily mix. </p>
            <p class="callout">Our snacks offer a daily nutritional boost to the immune system in support of whole body health. And a refreshing, yummy, comforting licking experience.</p>
            
            <a href="/pages/meet-nugget" class="btn btn-green">Meet Nugget</a><a href="/pages/smart-snacking#eats-not-treats" class="btn btn-green" style="margin-left: 20px;">Eats Not Treats</a>
            <!-- Begin Ingredients -->
            <div class="ingredients-list">
                  {% include 'ingredients-list' %}  
            </div>
            <!-- End Ingredients -->
          </div>
          <div class="span4">
            <div class="image-with-handwriting padding-top-h2">
              <p class="handwriting">Fit For<br />Humans<br /><span>Made for <br /> Dogs</span><i class="arrow"></i></p>
              <img src="{{ 'nugget-1.jpg' | asset_url }}" alt="Nugget" />
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- End .orange-background -->
  <!-- Begin .green-background -->
  <div class="green-background green-texture texture-bottom">
  <div class="wrapper">
  <h4 class="quote-content" style="margin: 0; padding: 20px 0 5px; color: #fff;">Sourced & made in the USA</h4>
  </div>
  </div>
  
  
  <!-- Begin Chalkboard -->
  <div class="full-image-container">
    <img src="{{ 'chalkboard.jpg' | asset_url }}" alt="Bone Brew - Chalkboard" />
  </div>
  <!-- End Chalkboard -->
  
  <!-- Begin .white-background -->
  <div class="orange-background orange-texture texture-bottom texture-top">
    <div class="wrapper">
      <h2 class="block-header">Our Products</h2>
    </div>
  </div>
  <div class="white-background white-texture texture-bottom white-content">
    <div class="wrapper">
      <div class="container">
        <div class="span6">
          <a href="/collections/artisan-yogurts">
            <img src="{{ 'product-yogurt.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt" />
          </a>
          <h3><a href="/collections/artisan-yogurts" class="color-green">Artisan Yogurts</a></h3>
          <p>Made-from-scratch, low fat SMART SNACKS Artisan Yogurt made from milk delivered by happy cows who are hormone/antibiotic-free, grass fed, and enjoy free pasture access. We add 5 strains of live cultures with billions of probiotics for healthy bellies &amp; immune system support.</p>
          <img src="{{ 'product-yogurt-label.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt Label" />
        </div>
        <div class="span6">
          <a href="/collections/bone-brews">
            <img src="{{ 'product-brew.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Bone Brews" />
          </a>
          <h3><a href="/collections/bone-brews" class="color-orange">Bone Brews</a></h3>
          <p>Our slow-braised broths - we call them "BONE BREWS" - are packed with essential amino acids such as glycine, proline &amp; glutamine that boost health in numerous ways. Rich in gelatin, collagen, cartilage and marrow, real bone broth is known to enhance joint, coat/skin, digestion &amp; immune system health.  Our premium marrow &amp; knuckle bones are from animals humanely raised on open pastures, grass-fed & antibiotic/hormone-free.</p>
          <img src="{{ 'product-brew-label.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Bone Brews Label" />
        </div>
        <div class="span12"><a href="/collections" class="btn btn-orange btn-center">Shop Yogurts and Broths</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End .white-background -->
  
  <!-- Begin Blueberries -->
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        <li class="lh0 blueberries" style="background-image: url({{ 'home_banner-blueberries.jpg' | asset_url }}); background-position: top left;">
          <div class="color-panel"></div>
          <!--p class="handwriting"><i class="arrow"></i></p-->
          <div class="caption-wrapper fr">
            <div class="caption">
              <h1>Superfoods<br />For Superpups </h1>
              <div class="paw-prints"></div>
              <a href="/pages/smart-snacking" class="btn btn-green">Eats Not Treats</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Blueberries -->