<div class="for-retailers">
  <!-- Begin .blue-light-background -->
  <div class="blue-light-background"> 
    <div class="wrapper">
      <div class="container pt30 pb20">
          <div class="span12">
          <h3 class="text-color-blue tc">Greetings retailers! Thanks for visiting our site. <br /><br />We’re honored to work with you and we’re here to support you.</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- End .blue-light-background -->
  <!-- Begin .orange-light-background -->
  <div class="orange-background orange-texture texture-top texture-bottom">
    <div class="wrapper">
      <h2 class="block-header">Carry Nugget's and want marketing support? We're happy to help!</h2>
    </div>
  </div>
  <div> 
    <div class="wrapper">
      <div class="container">
          <div class="span12">
          <p>Please contact <a href="http://www.petfoodexperts.com" target="_blank">Pet Food Experts</a>. If your distributor doesn't carry us, please <a href="mailto: info@nuggetshealthyeats.com">send us an email</a>.</p>
        </div>
        <div class="span12">
          <img src="{{ 'retailers-products-all.jpg' | asset_url }}" alt="Retailers All Products" />
        </div>
        <div class="span4">
          <img src="{{ 'retailers-products-brew-cups.jpg' | asset_url }}" alt="Retailers Brew Cups" />
        </div>
        <div class="span4">
          <img src="{{ 'retailers-products-brew-bags.jpg' | asset_url }}" alt="Retailers Brew Bags" />
        </div>
        <div class="span4">
          <img src="{{ 'retailers-products-yogurts.jpg' | asset_url }}" alt="Retailers Yogurts" />
        </div>
      </div>
    </div>
  </div>
  <!-- End .orange-light-background -->
  
  <!-- Begin .light-orange-background -->
  <div class="blue-background blue-texture texture-top texture-bottom">
    <div class="wrapper">
      <h2 class="block-header">Want to carry Nugget's bone brews and yogurts?</h2>
    </div>
  </div>
  <div class="blue-light-background"> 
    <div class="wrapper">
      <div class="container">
          <div class="span12">
            <p>We've made some of these available for download if you prefer to print them. Otherwise, <a href="/pages/contact-us-1">contact us</a> to request the items.</p>
          </div>
          <div class="span4">
            <a href="{{ 'retailers-comparison-chart-lg.pdf' | asset_url }}">
              <img src="{{ 'retailers-comparison-chart.jpg' | asset_url }}" alt="Comparison Chart" />
            </a>
            <p class="image-title">Bone broth versus “Real” broth comparison chart - <a href="{{ 'retailers-comparison-chart-lg.pdf' | asset_url }}">Download</a></p>
            
            <a href="{{ 'retailers-sales-sheet-broth-lg.jpg' | asset_url }}">
              <img src="{{ 'retailers-sales-sheet-broth.jpg' | asset_url }}" alt="Bone broth sales sheets" />
            </a>
            <p class="image-title">Bone broth sales sheets - <a href="{{ 'retailers-sales-sheet-broth-lg.jpg' | asset_url }}">Download</a></p>
          </div>
          
          <div class="span4">           
            <a href="{{ 'retailers-brew-card-lg.pdf' | asset_url }}">
              <img src="{{ 'retailers-brew-card.jpg' | asset_url }}" alt="Brew card" />
            </a>
            <p class="image-title">Brew cards - <a href="{{ 'retailers-brew-card-lg.pdf' | asset_url }}">Download</a></p>

            <img src="{{ 'retailers-freezer-clings.jpg' | asset_url }}" alt="Freezer clings, magnets" />
            <p class="image-title">Freezer clings, magnets - <a href="/pages/contact-us-1">Contact Us</a></p>
            
            <a href="{{ 'retailers-brew-scarf-lg.pdf' | asset_url }}">
              <img src="{{ 'retailers-brew-scarf.jpg' | asset_url }}" alt="Posters" />
            </a>
            <p class="image-title">Posters - <a href="{{ 'retailers-brew-scarf-lg.pdf' | asset_url }}">Download</a></p>
          </div>
          <div class="span4">
            <a href="{{ 'retailers-rack-card-broth-lg.pdf' | asset_url }}">
              <img src="{{ 'retailers-rack-card-broth.jpg' | asset_url }}" alt="Rack card" />
            </a>
            <p class="image-title">Rack cards - <a href="{{ 'retailers-rack-card-broth-lg.pdf' | asset_url }}">Download</a></p>
            
            <img src="{{ 'retailers-shelf-talker-1.jpg' | asset_url }}" alt="Empty boxes w/ 'find us in the freezers' shelf talkers" />
            <p class="image-title">Empty boxes w/ "find us in the freezers" shelf talkers - <a href="/pages/contact-us-1">Contact Us</a></p>
            
            <img src="{{ 'retailers-shelf-talker-2.jpg' | asset_url }}" alt="Empty boxes w/ 'find us in the freezers' shelf talkers" />
            <p class="image-title">Empty boxes w/ "find us in the freezers" shelf talkers - <a href="/pages/contact-us-1">Contact Us</a></p>
          </div>

      </div>
    </div>
  </div>
  <!-- End .blue-light-background -->
  
  <!-- Begin .green-light-background -->
  <div class="green-background green-texture texture-top texture-bottom">
    <div class="wrapper">
      <h2 class="block-header">Product Training</h2>
    </div>
  </div>
  <div class="green-light-background"> 
    <div class="wrapper">
      <div class="container">
          <div class="span12">
          <p>Have an upcoming event? Please <a href="/pages/contact-us-1">contact us</a> to discuss how we might be able to best support your community outreach.

</p>
          <p>We'd love to offer you brief staff training on our products. If you'd like us to contact you about scheduling a conference call training session, <a href="/pages/contact-us-1">contact us</a> or <a href="mailto: info@nuggetshealthyeats.com">send us an email</a>.</p>
          <p>Click below for a short training video highlighting the benefit of broth and yogurt for gut health.</p>
          <p>Video Coming Soon.</p>
          <p>Online Training - Coming Soon!</p>
          <!--div class="video-wrapper mt30">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b_OGxlAkK1E" frameborder="0" allowfullscreen></iframe>
          </div>
        </div-->
        
      </div>
    </div>
  </div>
  <!-- End .green-light-background -->
</div>