  <!-- Begin .orange-background -->
  <div class="orange-background bold-content smart-snacking"> 
    <div class="paw-prints"></div>
    <div class="wrapper">
      <div class="color-splotch"></div>
      <div class="container">
        <div>
          <div class="span8">
            <h2>Nature's Goodness in <br>a Daily Snack</h2>
            <p>Smart snacking for our pets means exactly what it does for us humans: It’s a lifestyle. It’s about enjoying fresh, wholesome unprocessed foods that bring nutrients to the whole body, along with a delicious variety of flavors to the daily mix. </p>
            <p class="callout">Our snacks offer a daily nutritional boost to the immune system in support of whole body health. And a refreshing, yummy, comforting licking experience.</p>
            <p>Dogs' and cats' bodies are more than 60% moisture, and unlike humans, they should get a good daily dose of their water from the foods they eat. By adding real bone broth (89% moisture) and quality yogurt (87% moisture) to your pet's diet, they get much-needed hydration, as well as the benefits of nature’s purest superfoods.</p>
            
            <a href="/pages/gut-health" class="btn btn-green">Gut Health</a>
            <!-- Begin Ingredients -->
            <div class="ingredients-list">
                  {% include 'ingredients-list' %}  
            </div>
            <!-- End Ingredients -->
          </div>
          <div class="span4">
            <img src="{{ 'nugget-1.jpg' | asset_url }}" alt="Nugget" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .orange-background -->
  
  <!-- Begin .blue-light-background -->
  <div class="blue-background blue-texture texture-top texture-bottom">
    <div class="wrapper">
      <h2 class="block-header">Eats Not Treats</h2>
    </div>
  </div>
  <div class="blue-light-background smart-snacking">
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span8">
            <h4>Nugget’s frozen snacks are not your typical "treats"</h4>
            <p>Our products meet the highest standards for human grade. Not only are our ingredients human grade, but so too is any kitchen or facility we'll ever use to produce our products.</p>
            <p class="p40">Dogs naturally lick as a calming response known to release “feel good” endorphins. Our yogurt and bone broth cups give dogs a positive, soothing and long-lasting licking experience.</p>
            
            <div class="row">

              <div class="span4">
                <a href="/collections/artisan-yogurts">
                  <img src="{{ 'product-yogurt.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt" class="p30" />
                </a>
                  <img src="{{ 'flavor-sticker-cherry.png' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt Label" class="p30 product-label" />
                  <img src="{{ 'flavor-sticker-blueberry.png' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt Label" class="p30 product-label" />
                </div>

              <div class="span4">
                <a href="/collections/bone-brews">
                  <img src="{{ 'product-brew.jpg' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt" class="p30" />
                </a>
                <img src="{{ 'flavor-sticker-turkey.png' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt Label" class="p30 product-label" />
                <img src="{{ 'flavor-sticker-beef.png' | asset_url }}" alt="Nuggets Healthy Eats - Artisan Yogurt Label" class="p30 product-label" />             
              </div>
            </div>
            <div class="span8 p30"><a href="/collections" class="btn btn-orange btn-center">Shop Yogurts and Broths</a>
              <div class="video-wrapper mt30">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ghi7fItLm-s" frameborder="0" allowfullscreen></iframe>
              </div>
              
            </div>
          </div>
        
          <div class="span4">
            <img src="{{ 'smart-snacking-dog-2.jpg' | asset_url }}" alt="Dog Enojys Nuggets Artisan Yogurt" class="p40" />
            <img src="{{ 'lick.png' | asset_url }}" alt="Lick Nuggets Healthy Snacks!" class="p30"/>
            <div class="color-quote">
              <img src="{{ 'color-quote-orange.png' | asset_url }}" alt="color quote" />
              <p>Our artisan yogurts are of such high quality, we prefer not to call them “doggie ice cream” and our bone broths are unlike anything on the market for pets</p>
            </div>
          </div>
          <div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .blue-light-background -->