  <!-- Begin Our Mission -->
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        <li class="lh0 about" style="background-image: url({{ 'banner-about.jpg' | asset_url }});">
          <div class="color-panel black"></div>
          <div class="caption-wrapper fr">
            <div class="caption">
              <h1>Our Mission</h1>
              <h2>Lick. Love. Live.</h2>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Our Mission -->
  
  <!-- Begin .green-light-background -->
  <div class="green-light-background green-light-texture texture-top texture-bottom green-light-content"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span8">
            <ul class="heart-list">
              <li>Celebrate the love between pets & people by providing 
nourishing, soothing snacking experiences pets 
savor & people delight in giving</li>
              <li>Help pets live happier, healthier lives by delivering the cleanest labeled, unprocessed snacks that support gut & immune health</li>
              <li>Re-invent the "frozen treats" market with innovative, fresh, wholesome REAL FOOD snacks that are part of a year-round, healthy lifestyle</li>
              <li>Carry forth Nugget's legacy by supporting organizations that rescue & place homeless pets with loving families</li>
            </ul>
            <a href="/pages/gut-health" class="btn btn-orange">Gut Health</a>
            <div class="video-wrapper mt30">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/b_OGxlAkK1E" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="span4">
            <img src="{{ 'dog-golden.jpg' | asset_url }}" alt="Dog Enjoying Nuggets Healthy Eats" class="p30" />
            <img src="{{ 'lick.png' | asset_url }}" alt="Lick Nuggets Healthy Snacks!" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .green-light-background -->
  
  
    <!-- Begin .white-background -->
    <div class="white-background white-content"> 
      <div class="wrapper">
        <div class="container">
          <div>
            <div class="span12">
              <h1 class="fruit-header"><span>We're Dog Foodies</span></h1>
            </div>
            <div class="span8">
              <p><img src="{{ 'nugget-beach.jpg' | asset_url }}" alt="Nugget Beach" />After decades of preparing fresh, healthy meals & snacks for our own dogs and experiencing them thriving as a result, we've dismissed the notion of "people food" versus "dog food." Food is food and it’s either nutritious or not! And we believe what our pets eat should never be inferior – this is true for ingredients, as well as how the food is prepared. </p>
              <a href="/pages/meet-nugget" class="btn btn-green">Meet Nugget</a>
              
            </div>
            <div class="span4">
              <div class="color-quote">
                <img src="{{ 'color-quote-orange.png' | asset_url }}" alt="color quote" />
                <p>We know our pets live better and longer as a result of eating REAL, whole some, unprocessed snacks. ..the same qualities we look for in our own diets.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End .white-background -->