<!-- Begin .blue-background -->
<div class="blue-background bold-content"> 
  <div class="paw-prints"></div>
  <div class="wrapper">
    <div class="color-splotch"></div>
    <div class="container">
      <div>
        <div class="span12">
          <h2>Healthy Tummy<span>...</span>Happy Pet</h2>
        </div>
        <div class="span8">
          <p>More than 80% of a dog or cat’s immune system is located in the wall of his or her intestines, where food is absorbed and enters the bloodstream as nutrients. This is also where disease-causing organisms can reside. Without a healthy gut, a pet’s immune system is compromised and cannot function optimally.</p>
          <p>The gut is where nutrient absorption takes place, which is why having a healthy gut is among THE most important factors when it comes to your pet’s overall health and well-being.</p>
          <p class="callout">Dogs' and cats' bodies are more than 60% moisture, and unlike humans, they should get a good daily dose of their water from the foods they eat. By adding real bone broth (89% moisture) and quality yogurt (87% moisture) to your pet's diet, they get much-needed hydration, as well as the benefits of nature’s purest superfoods.</p>
          <a href="/pages/meet-nugget" class="btn btn-orange">Our Products</a>
        </div>
        <div class="span4">
          <img src="{{ 'gut-health-dog.jpg' | asset_url }}" alt="Nugget" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End .orange-background -->

<!-- Begin .green-background -->
<div class="green-background green-texture texture-bottom texture-top">
  <div class="wrapper">
    <div class="quote-content">
      <h2>All disease begins in the gut...<span>&mdash;Hippocrates</span></h2>

    </div>
  </div>
</div>
<!-- End .green-background -->

<!-- Begin .white-background -->
<div class="white-background white-content"> 
  <div class="wrapper">
    <div class="container">
      <div>
        <div class="span12">
          <h1 class="fruit-header"><span>Bone Broth for a Healthy Gut</span></h1>
        </div>
        <div class="span8">
          <ul class="heart-list small-hearts">  
            <li class="heading">Bone broth:</li>
            <li>TA time tested tummy tonic</li>
            <li>A rich ancient culinary tradition</li>
            <li>Nature’s ultimate comfort food</li>
          </ul>

          <p>Bone broth has been an important culinary tradition of cultures around the globe for thousands of years. Since ancient times, people have simmered meat, bones, vegetables and herbs to create savory, hearty broths that were consumed as soups, sauces and stews, and also as medicinal tonics.</p>
          <p class="callout">Bone broth’s natural healing properties and reputation as a digestive aid dates back thousands of years. In her 1859 book, “Notes on Nursing,” Florence Nightingale stated, “No food improves digestion better than bone broth, whether you are poorly or otherwise.”</p>
          <p><a href="/pages/bone-broth-vs-commercial-stock" class="text-link">Real Bone Broth vs Commercial Stock -></a></p>
          <a href="/collections/bone-brews" class="btn btn-orange">Shop Bone Broth</a>
        </div>
        <div class="span4">
          <img src="{{ 'gut-health-spoon.jpg' | asset_url }}" alt="Broth Spoon" />
          <img src="{{ 'retailers-brew-scarf.jpg' | asset_url }}" alt="Murhpy Scarf" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End .white-background -->

<!-- Begin .green-background -->
<div class="green-background green-texture texture-bottom texture-top">
  <div class="wrapper">
    <div class="quote-content">
    </div>
  </div>
</div>
<!-- End .green-background -->

<!-- Begin .white-background -->
<div class="white-background white-content"> 
  <div class="wrapper">
    <div class="container">
      <div>
        <div class="span12">
          <h1 class="fruit-header"><span>Probiotics for a Healthy Gut</span></h1>
        </div>
        <div class="span8">
          <p class="callout green">The immune system can only function optimally with a healthy balance of bacteria. When the digestive tract is populated with healthy probiotics, they prevent the bad bacteria from residing, thus preventing intestinal upset and disease. These good bacteria also help ensure the absorption of vital nutrients.</p>
          <h3>Yogurt – Nature’s Superfood</h3>
          <p>Not only do probiotic cultures do lots of good in a pet’s tummy, they also work hard during the creation of yogurt. During fermentation, they break down the lactose, creating lactase. Lactase is the enzyme necessary for lactose digestion that dogs lack, helping dogs digest any lactose they may encounter.</p>
          <p>Ideally dogs should have a good quality yogurt every day to ensure a steady presence of good cultures and enzymes. The beneficial microflora in their bodies need a stable environment in which to grow and flourish. In addition to enhancing the overall well-being of healthy pets, probiotics can gently help them get over digestive disturbances by bringing the bacteria in the digestive tract into balance.</p>
          <a href="/pages/probiotics-for-a-healthy-gut" class="btn btn-green mr20">Probiotics</a>
          <a href="/collection/artisinal-yogurts" class="btn btn-orange">Shop Yogurts</a>
        </div>
          <div class="span4">
            <img src="{{ 'gut-health-probiotic-1.jpg' | asset_url }}" alt="Probiotic Berries" class="p30" />
            <div class="span4">
              <img src="{{ 'cow-patch.png' | asset_url }}" alt="Cow Patch" />
          </div>
        </div>
    </div>
  </div>
</div>
<!-- End .white-background -->

<!-- Begin .green-light-background -->
<!-- <div class="green-background green-texture texture-bottom texture-top probiotics">
  <div class="wrapper">
    <h2 class="block-header">Probiotics for a Healthy Gut</h2>
  </div>
</div>
<div class="green-light-background green-light-content probiotics">
  <div class="wrapper">
    <div class="container">
      <div>
        <div class="span8">
          <h4>The immune system can only function optimally with a healthy balance of bacteria. When the digestive tract is populated with healthy probiotics, they prevent the bad bacteria from residing, thus preventing intestinal upset and disease. These good bacteria also help ensure the absorption of vital nutrients.</h4>
          <h3>Yogurt – Nature’s Superfood</h3>
          <p>Not only do probiotic cultures do lots of good in a pet’s tummy, they also work hard during the creation of yogurt. During fermentation, they break down the lactose, creating lactase. Lactase is the enzyme necessary for lactose digestion that dogs lack, helping dogs digest any lactose they may encounter.</p>
          <p>Ideally dogs should have a good quality yogurt every day to ensure a steady presence of good cultures and enzymes. The beneficial microflora in their bodies need a stable environment in which to grow and flourish. In addition to enhancing the overall well-being of healthy pets, probiotics can gently help them get over digestive disturbances by bringing the bacteria in the digestive tract into balance.</p>
          <a href="/pages/probiotics-for-a-healthy-gut" class="btn btn-green mr20">Probiotics</a>
          <a href="/collection/artisinal-yogurts" class="btn btn-orange">Shop Yogurts</a>
        </div>
          <div class="span4">
            <img src="{{ 'gut-health-probiotic-1.jpg' | asset_url }}" alt="Probiotic Berries" class="p30" />
            <div class="span4">
              <img src="{{ 'cow-patch.png' | asset_url }}" alt="Cow Patch" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End .green-light-background -->